[submodule "agents/coral-acidev"]
	path = agents/coral-acidev
	url = https://github.com/Coral-Protocol/Coral-AciDevMCP-Agent.git
[submodule "coral-server"]
	path = backend/orchestrator/coral-server
	url = https://github.com/Coral-Protocol/coral-server.git
[submodule "coral-studio"]
	path = frontend/studio/coral-studio
	url = https://github.com/Coral-Protocol/coral-studio.git
[submodule "agents/buffalo"]
	path = agents/buffalo
	url = https://github.com/KenjiPcx/buffalo-agent.git
